html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background-color: rgb(230, 230, 230);
  margin: 0 0 100px;
}

.content {
  margin: auto;
  padding-top: 20px;
  text-align: center;
  max-width: 980px;
}

.menu {
  background-color: rgb(5, 5, 5);
  height: 50px;
  display: flex;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  padding: 10px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgb(5, 5, 5);
  color: rgb(255, 255, 255);
}

.upload-result {
  padding: 20px;
  margin: 20px;
  background-color: rgb(244, 244, 244);
}

.upload-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dropzone-message {
  padding: 20px;
}

@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
  height: 20px;
  width: 20px;
  border: 5px solid #cbcbcb;
  border-right-color: transparent;
  border-radius: 50%;
}
